@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind body;

@layer base {
  :root {
    --text: #ffffff;
    --background: #3A3838;
    --primary: #EF5D70;
    --secondary: #EFD677;
    --accent: #EF9873;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
